<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.providerservice.mapper.TestMapper">



    <sql id="tableName">
        test
    </sql>

    <insert id="add">
        insert into <include refid="tableName"></include>(
        product_id,
        hash,
        version,
        local_url,
        is_used,
        is_updated
        )
        values (
        #{test.productId},
        #{test.hash},
        #{test.version},
        #{test.localUrl},
        #{test.isUsed},
        #{test.isUpdated}

        )
    </insert>


</mapper>